################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fieldbook/v16
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/AmTrak/bin/Debug
/AmTrak/bin/Release
/AmTrak/obj
/BlackHills/bin
/BlackHills/obj
/CWOSCorecommon/bin
/CWOSCorecommon/obj
/FB4CoreCommon/bin
/FB4CoreCommon/obj
/GES/bin
/GES/obj
/HMMS/bin
/HMMS/obj
/Momentum/bin
/Momentum/obj
/MVC4FieldBook/.vs/config
/MVC4FieldBook/.vs/MVC4FieldBook/config
/MVC4FieldBook/.vs/MVC4FieldBook/v14
/MVC4FieldBook/.vs/MVC4FieldBook/v16/Server/sqlite3
/MVC4FieldBook/.vs/MVC4FieldBook/v16/.suo
/MVC4FieldBook/Fieldbook4MVC4Maps/bin
/MVC4FieldBook/Fieldbook4MVC4Maps/FB4PublishedCode
/MVC4FieldBook/Fieldbook4MVC4Maps/MVC4MAPPublished
/MVC4FieldBook/Fieldbook4MVC4Maps/obj
/MVC4FieldBook/Fieldbook4MVC4Maps/HmmFieldBookWeb.csproj.vspscc
/MVC4FieldBook/Fieldbook4MVC4Maps/proxyLog.txt
/MVC4FieldBook/obj/Debug
/NFTAReports/LOGS/log.txt
/MVC4FieldBook/Fieldbook4MVC4Maps/LOGS/log.txt
/NFTAReports/obj/Debug
/PECONRCG/bin
/PECORelease3/bin
/PECONRCG/obj
/PECORelease3/obj
/PipelineRouting/bin
/PipelineRouting/obj
/PowerBIReporting/bin
/PowerBIReporting/obj
/PVWC/bin
/PVWC/Database
/PVWC/obj
/Reporting/obj/Debug
/SmartInspect/bin
/SmartInspect/obj
/SoundTransit/bin
/SoundTransit/obj
/SouthJerseyGas/bin
/SouthJerseyGas/obj
/StarfieldEnergy/bin
/StarfieldEnergy/obj
/UGI/bin
/UGI/obj
/PECOLead/PECOLead/bin/Release/System.Web.WebPages.xml
/PECOLead/PECOLead/bin/Release/System.Web.WebPages.Razor.xml
/PECOLead/PECOLead/bin/Release/System.Web.WebPages.Razor.dll
/PECOLead/PECOLead/bin/Release/System.Web.WebPages.dll
/PECOLead/PECOLead/bin/Release/System.Web.WebPages.Deployment.xml
/PECOLead/PECOLead/bin/Release/System.Web.WebPages.Deployment.dll
/PECOLead/PECOLead/bin/Release/System.Web.Razor.xml
/PECOLead/PECOLead/bin/Release/System.Web.Razor.dll
/PECOLead/PECOLead/bin/Release/System.Web.Mvc.xml
/PECOLead/PECOLead/bin/Release/System.Web.Mvc.dll
/PECOLead/PECOLead/bin/Release/PECOLead.pdb
/PECOLead/PECOLead/bin/Release/PECOLead.dll.config
/PECOLead/PECOLead/bin/Release/PECOLead.dll
/PECOLead/PECOLead/bin/Release/Microsoft.Web.Infrastructure.xml
/PECOLead/PECOLead/bin/Release/Microsoft.Web.Infrastructure.dll
/PECOLead/PECOLead/bin/Release/log4net.dll
/PECOLead/PECOLead/bin/Release
/PECOLead/PECOLead/obj/Debug
/PECOLead/PECOLead/obj/Release/PECOLead.pdb
/PECOLead/PECOLead/obj/Release/PECOLead.dll
/PECOLead/PECOLead/obj/Release/PECOLead.csproj.FileListAbsolute.txt
/PECOLead/PECOLead/obj/Release/PECOLead.csproj.CoreCompileInputs.cache
/PECOLead/PECOLead/obj/Release/PECOLead.csproj.CopyComplete
/PECOLead/PECOLead/obj/Release/PECOLead.csproj.AssemblyReference.cache
/PECOLead/PECOLead/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/PECOLead/PECOLead/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/Reporting/obj/Release
/MVC4FieldBook/obj/Release
/Master/.vs
/.vs/Fieldbook4/v16
/.vs
/PECOLead/PECOLead/bin/Debug/Microsoft.Web.Infrastructure.dll
/PECOLead/PECOLead/bin/Debug/Microsoft.Web.Infrastructure.xml
/PECOLead/PECOLead/bin/Debug/System.Web.Razor.dll
/PECOLead/PECOLead/bin/Debug/System.Web.Razor.xml
/PECOLead/PECOLead/bin/Debug/System.Web.WebPages.Deployment.dll
/PECOLead/PECOLead/bin/Debug/System.Web.WebPages.Deployment.xml
/PECOLead/PECOLead/bin/Debug/System.Web.WebPages.xml
/PECOLead/PECOLead/bin/Debug/System.Web.WebPages.Razor.xml
/PECOLead/PECOLead/bin/Debug/System.Web.WebPages.Razor.dll
/PECOLead/PECOLead/bin/Debug/System.Web.WebPages.dll
/MVC4FieldBook/Fieldbook4MVC4Maps/Service References/MTILRemote/Arrays1.xsd
/PECOLead/PECOLead/bin/Debug
/MVC4FieldBook/packages/log4net.2.0.12
/Libraries/log4net.dll.txt
/MVC4FieldBook/Fieldbook4MVC4Maps/Service References/MTILRemote
/UGI.DBAccess/bin/Debug
/UGI.DBAccess/obj/Debug
/UGI.DBAccess/bin/Release
/UGI.DBAccess/obj/Release
